<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prience Diwana</title>
    <link rel = "icon" href = "../static/logo.jpeg" type = "image/x-icon">
    <link rel="stylesheet" href="../static/style.css">
  
</head>
<body>
    <include
    <section class="header">
        <div class="logoimg">
            <img src="../static/logo.jpeg" alt="" class="logo">
        </div>
        <div class="dropdown">
            <button class="dropbtn"><img class="menuimg" src="../static/text.png" alt="">
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div></div>
        <div class="search-container">
            <input type="text" id="search-input" placeholder="Search...">
            <button type="button" id="search-button">Search</button>
        </div>   
        
    </section>
    <h1>Welcoe to Prience Diwana</h1>
    <link rel="stylesheet" href="../static/script.js">
</body>
</html>
