<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prience Diwana</title>
    <link rel = "icon" href = "../static/logo.jpeg" type = "image/x-icon">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" media="screen and (max-width: 1063px)" href="../static/responsive.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=PT+Serif&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="navigation">
        <nav class="navbar">
            <ul class="items">
                <li><a href="http://localhost:8000">Home</a></li>
                <li><a href="http://localhost:8000/services">Services</a></li>
                <li><a href="http://localhost:8000/about">About US</a></li>
                <li><a href="http://localhost:8000/contact">Contact Us</a></li>
            </ul>
        </nav>
    </div>
    <section class="header">
        <div class="logoimg">
            <img src="../static/logo.jpeg" alt="" class="logo">
        </div>
        <div class="dropdown">
            <button class="dropbtn"><img class="menuimg" src="../static/text.png" alt="">
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="http://localhost:8000">Link 1</a>
              <a href="http://localhost:8000/about">Link 2</a>
              <a href="http://localhost:8000/contact">Link 3</a>
            </div></div>
        <div class="search-container">
            <input type="text" id="search-input" placeholder="Search...">
            <button type="button" id="search-button">Search</button>
        </div>   
        
    </section>
    <section id="home">
        <h1 class="welcome">Welcome to Prience Diwana.com Webside</h1>
        <br>
        <p> The customer is at the heart of our unique business model, which includes design, production, distribution and sales through our extensive online network.
        <br>
        <br>
        This is a one stop shop for all school uniforms. We are serving in this field from last 30 years and would be looking forward to serve many more. We ensure you a delightful shopping experience each and every time. A hassle free and easy shopping experience with just a click. But what we can all admit to is that we have always wished it was easier than to go down to the store in dense traffic, waiting in long queues and just wasting out your precious time with paying high rates.
        <br>
        <br>    
        Our wear are made from the highest quality fabrics and tailored to give you functionality, durability and comfort. Our skilled master tailors handle all of our cutting and sewing, ensuring precision in all production processes.
        </p>
    </section>

        <section class="uniforms">
            <h1>UNIFORMS</h1>
        <div class="uniform-list">
            <div class="uniform">
                <a href="http://localhost:8000/contact"> <img src="../static/dressicon/Shirts-400x250.png" alt=""></a>
              
            </div>
            <div class="uniform">
                <a href="http://localhost:8000/contact"><img src="../static/dressicon/Tunic-400x250.png" alt=""></a>
           
            </div>
            <div class="uniform">
                <a href="http://localhost:8000/contact"><img src="../static/dressicon/Skirts-400x250-400x250.png" alt=""></a>
                
            </div>
            <div class="uniform">
                <a href="http://localhost:8000/contact"><img src="../static/dressicon/Suits-400x250-400x250.png" alt=""></a>
                    
            </div>
        </section>
        <section class="uniforms">
        <div class="uniform-list">
            <div class="uniform">
                <a href="http://localhost:8000/contact"><img src="../static/dressicon/shorts-400x250-400x250.png" alt=""></a>
              
            </div>
            <div class="uniform">
                <a href="http://localhost:8000/contact"><img src="../static/dressicon/trousers-400x250.png" alt=""></a>
               
            </div>
            <div class="uniform">
                <a href="http://localhost:8000/contact"><img src="../static/dressicon/Tshirts-400x250-400x250.png" alt=""></a>
                 
            </div>
            <div class="uniform">
                <a href="http://localhost:8000/contact"><img src="../static/dressicon/blazers-400x250.png" alt=""></a>
                  
            </div>
        </section>
        <section class="extras">
            <div class="extra-list">
                <div class="extra">
                    <a href="http://localhost:8000/contact"><img src="../static/dressicon/corporate-uniform-800x350.jpg" alt=""></a>
                </div>
                <div class="extra">
                    <a href="http://localhost:8000/contact"><img src="../static/dressicon/bulk-banner-800x350.jpg" alt=""></a>
                </div>
            </div>
        </section>
           <section class="about">
            <h3>Why buy from Prience-Diwana</h3><br><hr>
            <div><br>
                <p>Welcome to Prience-Diwana.com ,</p>

                <p>&nbsp;</p>
                
                <p>The customer is at the heart of our unique business model, which includes design, production, distribution and sales through our extensive online network.</p>
                
                <p>&nbsp;</p>
                
                <p>This is a one stop shop for all school uniforms. We are serving in this field from last 30 years and would be looking forward to serve many more. We ensure you a delightful shopping experience each and every time. A hassle free and easy shopping experience with just a click. But what we can all admit to is that we have always wished it was easier than to go down to the store in dense traffic, waiting in long queues and just wasting out your precious time with paying high rates.</p>
                
                <p>&nbsp;</p>
                
                <p>Our wear are made from the highest quality fabrics and tailored to give you functionality, durability and comfort. Our skilled master tailors handle all of our cutting and sewing, ensuring precision in all production processes.</p>
                
                <p>&nbsp;</p>
                
                <p>Make sure to use our cash on delivery option, easy 7-day returns policy, TRY AND BUY (for the selected products) option and other customer-friendly features. A comprehensive sizing guide and detailed product descriptions coupled with high-resolution product shots will give you all the information to make the right buying decision.</p>
                
                <p>&nbsp;</p>
                
                <p>We offer our customers the cheapest prices with many more other offers like 24 hour free shipping and a satisfying shopping experience.</p>
                
                <p>&nbsp;</p>
                
                <p>Go ahead and shop till you drop on India&rsquo;s largest online Uniform store.</p>
            </div>
            </section>
            <section class="social-contact">
                <div>
                    <a href="https://www.facebook.com/kritikraj.kritikraj.5?mibextid=9R9pXO" target="_blank"><img src="../static/contact icon/facebook.jfif" alt=""></a>
                </div>
                <div>
                    <a href="https://instagram.com/kritik553?utm_source=qr&igshid=MzNlNGNkZWQ4Mg%3D%3D" target="_blank"><img src="../static/contact icon/instagram.jfif" alt=""></a>
                </div>
                <div>
                    <a href="https://www.linkedin.com/in/kritik-raj-279724206" target="_blank"><img src="../static/contact icon/linkedin (1).png" alt=""></a>
                </div>
                <div>
                    <a href="https://www.linkedin.com/in/kritik-raj-279724206" target="_blank"><img src="../static/contact icon/email.png" alt=""></a>
                </div>
            </section>
            <section>
                <div class="copyright">Copyright © 2023, Prience-Diwana, All Rights Reserved.</div>
            </section>
    <link rel="stylesheet" href="../static/script.js">
</body>
</html>